.selects-container {
    margin-top: 10%;
    .select-container {   
        display: flex; 
        justify-content: center;
        .select-country-form {  
            width: 100%;
        }
    }
}
